---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { Card, Pagination } from 'accessible-astro-components';

const posts = await Astro.glob('../content/blog/*.mdx');
const allPosts = [] as { title: string; slug: string; description: string }[];
posts.forEach(({ getHeadings, frontmatter }) => {
  const { slug, text } = getHeadings()[0];
  allPosts.push({
    title: text,
    description: frontmatter.description,
    slug,
  });
});
---

<DefaultLayout title='Blog' description='blog.gehrig.dev'>
  <section class='my-12'>
    <div class='space-content container'>
      <p class='text-2xl'>
        Welcome to my blog. Here I write about things I find interesting, mostly
        related to web development and programming. I hope you find something
        useful here. If you have any questions or feedback, feel free to reach
        out to me on.
      </p>
    </div>
  </section>
  <section class='my-12'>
    <div class='container'>
      <p class='text-sm'>
        <em>Post total posts {allPosts.length}</em>
      </p>
      <ul class='my-3'>
        {
          allPosts.map((post) => (
            <li>
              <Card url={'/blog/' + post.slug} title={post.title} footer={''}>
                {post.description}
              </Card>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</DefaultLayout>

<style lang='scss'>
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
