---
const currentYear = new Date().getFullYear();
---

<footer>
  <section class='py-8'>
    <div class='container'>
      <p>
        &copy; {currentYear} - Personal blog source on <a
          href='https://github.com/sillyvan/blog.gehrig.dev'
          target='_blank'
          referrerpolicy='no-referrer'>Github</a
        >.
      </p>
    </div>
  </section>
</footer>
