---
import { DarkMode } from 'accessible-astro-components';
---

<div id='main-navigation' class='py-8'>
  <div class='container'>
    <a href='/' class='flex items-center gap-2 !no-underline'>
      <span class='font-bold text-2xl'>blog.gehrig.dev</span>
    </a>
    <div class='wrapper'>
      <nav aria-label='navigation'>
        <ul>
          <slot />
        </ul>
      </nav>
      <DarkMode />
    </div>
  </div>
</div>

<style lang='scss' is:global>
  @use '../assets/scss/base/breakpoint' as *;
  @use '../assets/scss/base/outline' as *;

  #main-navigation {
    > .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    nav {
      > ul {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;

        a,
        button {
          text-decoration: none;
          font-size: 1.125rem;
          line-height: 1.6875rem;
        }
      }
    }
  }

  .darkmode-toggle {
    padding: 0;
    border: none;

    svg {
      width: 30px;
      margin-top: 4px;
    }

    svg path {
      fill: var(--action-color);
    }

    &:hover {
      svg path {
        fill: var(--action-color-state);
      }
    }

    &:focus {
      @include outline;

      &:not(:focus-visible) {
        outline: none;
        box-shadow: none;
      }
    }
  }
</style>
